body {
    margin: 0;
    padding: 0;
    width: 1440px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: Roboto, sans-serif;
}


/* header */

.main-header {
    position: fixed;
    width: 268px;
    height: 100vh;
    background-color: #669900;
}

.nav-logo {
    width: 39px;
    height: 34px;
    margin: 33px 114px;
    border-radius: 47px;
}


.main-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
}


/* main */
main {
width: 1172px;
    margin-left: auto;
}

.main-nav {

}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 80px;
}

.nav-item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E9FEAF;
    width: 90px;
}

.nav-relevance {
    margin-right: 45px;
}

.nav-item:last-child {
    margin-bottom: 0;
}

.nav-item a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
}

h2 {
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 33px;
    font-weight: 400;
}


section {
    width: 878px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.author {
    margin-left: 268px;
    display: flex;
    justify-content: center;
    color: rgba(102, 153, 0, 0.6);
    border-top: 1px solid #E9FEAF;
}

.author p {
    margin-right: 40px;
}

.lead h1 {
    font-family: Raleway, sans-serif;
    font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: center;
    margin-bottom: 40px;
}

.lead {
    font-weight: 400;
font-size: 20px;
line-height: 23px;
    font-family: Roboto, sans-serif;
}

.lead ol {
    text-align: left;
}

.lead ol li {
    margin-bottom: 10px;
}

.lead ol li:last-child {
    margin-bottom: 0;
}

.lead a, .vacancies a {
    text-decoration: none;
    color: black;
}

table {
font-family: Roboto, sans-serif;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #BDECB6;
color: #656665;
border: 16px solid #BDECB6;
border-radius: 20px;
}
th {
font-size: 18px;
padding: 10px;
}
td {
background: #C5D0E6;
padding: 10px;
}

.vacancies h1 {
    font-family: Raleway, sans-serif;
    font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: center;
    margin-bottom: 40px;
}

.vacancies {
    font-weight: 400;
font-size: 20px;
line-height: 23px;
    font-family: Roboto, sans-serif;
}

.vacancies_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 878px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
}

.vacancy {
    width: 750px;
    background: #BDECB6;
    box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
    margin-bottom: 40px;
    border-radius: 40px;
    padding: 30px;
}

.vacancy:last-child {
    margin-bottom: 0;
}