{% load android_tags %}
<table class="item-{{ item.pk }}">
    <tr>
        {% for header in headers %}
            <th class="table-{{ item.pk }}-border" align="center">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in values %}
    <tr>
        {% for cell in row %}
            <td class="table-{{ item.pk }}-border" align="center">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<style type="text/css">
    .item-{{ item.pk }} {
    {{ item.style }}
    }
</style>