{% load android_tags %}
<table class="item-{{ item.pk }}">
    <tr>
        {% for header in headers %}
            <th class="table-{{ item.pk }}-border" align="center">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in values %}
    <tr>
        {% for cell in row %}
            <td class="table-{{ item.pk }}-border" align="center">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<style type="text/css">
{#    {% get_styles item as styles %}#}
{#    {% if styles == 0 %}#}
{#        .table-{{ item.pk }} {#}
{#            width: 900px;#}
{#            border-collapse: collapse;#}
{#        }#}
{##}
{#   .table-{{ item.pk }}-border {#}
{#    padding: 3px;#}
{#    border: 1px solid black;#}
{#   }#}
{##}
{#   .table-{{ item.pk }} {#}
{#       float: left;#}
{#       width: 45%;#}
{#       margin-left: 10%;#}
{#   }#}
{#    {% endif %}#}

  </style>