<h2 align="center">{{ title }}</h2>
<table class="page-table">
    <tr>
        {% for header in headers %}
            <th class="border" align="center">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in values %}
    <tr>
        {% for cell in row %}
            <td class="border" align="center">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<style type="text/css">
        TABLE {
            width: 900px;
            border-collapse: collapse;
        }
   .border {
    padding: 3px;
    border: 1px solid black;
   }
   BODY{
       margin:0 auto;
   }

   .page-table{
       float: left;
       width: 45%;
   }
   .page-table{
       float: left;
       width: 45%;
       margin-left: 10%;
   }
  </style>