{% extends 'Android-developer/base.html' %}
{% block lead %}
    <section class="lead">
        <h1>Все о географии</h1>
        <p>На данной странице можно ознакомиться со статистикой о зарплатах и доле вакансий по городам.</p>
        <p>Были проанализированы IT-вакансии с <a href="https://ekaterinburg.hh.ru/">hh.ru</a> с 2003 по 2022 годы.</p>
        <p>Интересные факты:</p>
        <ol>
            <li>На данный момент самые высокие средние зарплаты в IT в Москве - 83 620 рубля</li>
            <li>Наибольший процент IT-вакансий также в Москве - 33,4%</li>
            <li>Самые высокие средние зарплаты для android-разработчиков в Нижнем Новогороде - 131 818 рубля</li>
            <li>Наибольший процент вакансий android-разработчика в Москве - 34,7%</li>
        </ol>
    </section>
{% endblock %}