<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<header class="main-header">
    <p>Android-developer</p>
</header>
<main>
    <ul class="main-nav">
        {% for item in navigation %}
            <li class="nav-item"><a href="{% url item.url %}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    {% block main %}
    {% endblock main %}
</main>
<footer>
    <p>Сайт сделан в рамках итогового проекта по курсу Технологии программирования на Python</p>
    <p>Выполнил: Мухаметшин Данил Рустамович</p>
    <p>Группа: РИ-210950</p>
</footer>
</body>
</html>