{% load static %}
{% load  android_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<header class="main-header">
    <p>Android-developer</p>
</header>
<main>
    <ul class="main-nav">
        {% for item in navigation %}
            <li class="nav-item"><a href="{% url item.url %}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    {% block main %}

    {% for order in orders %}
    {% get_item_type page_id order as type %}
        <p>{{ type }}</p>
    {% if type == 'text' %}
        {% show_text page_id order %}
        {% endif %}
    {% if type == 'table' %}
        {% show_table page_id order %}
        {% endif %}
    {% if type == 'image' %}
        {% show_img page_id order %}
        {% endif %}
    {% endfor %}

    {% endblock main %}
</main>
<footer>

</footer>
</body>
</html>