{% load static %}
{% load  android_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<header class="main-header">
    <p>Android-developer</p>
</header>
<main>
    <ul class="main-nav">
        {% for item in navigation %}
            <li class="nav-item"><a href="{% url item.url %}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    {% block main %}

    {% for section in sections %}
        {% show_section section %}
    {% endfor %}

    {% endblock main %}
</main>
<footer>

</footer>
</body>
</html>