{% extends 'Android-developer/base.html' %}
{% block lead %}
    <section class="lead">
        <h1>Все о навыках</h1>
        <p>На данной странице можно ознакомиться со статистикой о самых популярных навыках, встречающихся в IT-вакансиях.</p>
        <p>Были проанализированы IT-вакансии с <a href="https://ekaterinburg.hh.ru/">hh.ru</a> с 2003 по 2022 годы.</p>
        <p>До 2015 года в вакансиях не указывались навыки, поэтому вся статистика подсчитана с 2015 года</p>
        <p>Интересные факты:</p>
        <ol>
            <li>С 2015 по 2019 года самым популярным навыком был - "JavaScript"</li>
            <li>С 2020 и по настоящее время самым популярным является навык владения SQL</li>
            <li>Только в 2016 "Java", как навык в вакансиях android-разработчика, смог опередить бессменного лидера "Android"</li>
            <li>На 10 месте в топе самых популярных навыков в IT-вакансиях оказался навык владения грамотной речью</li>
        </ol>
    </section>
{% endblock %}