{% extends 'Android-developer/base.html' %}
{% block lead %}
    <section class="lead">
        <h1>Все о востребованности</h1>
        <p>На данной странице можно ознакомиться со статистикой о зарплатах и количестве вакансий по годам.</p>
        <p>Были проанализированы IT-вакансии с <a href="https://ekaterinburg.hh.ru/">hh.ru</a> с 2003 по 2022 годы.</p>
        <p>Интересные факты:</p>
        <ol>
            <li>В 2022 году самая высокая средняя зарплата - 93 012 рублей</li>
            <li>Самое большое количество IT-вакансий было в 2019 году - 535 956</li>
            <li>Самая высокая зарплата для android-разработчиков была в 2019 году - 127 155 рублей</li>
            <li>Наибольшее количество вакансий android-разработчика было в 2015 году - 101 вакансия</li>
        </ol>
    </section>
{% endblock %}